

.homePage{
    background-color:#97CCE8;

}


.settingsPage{
    background-color:#97CCE8;
}

.aboutPage{
    background-color:#97CCE8;
}

.contactPage{
    background-color:#97CCE8;
}

.icon img {
    width: 130px;    
    
}